:host {
    display: flex;
    height: 85vh; //later calc -header-height -footer-height
    align-items: center;
    justify-content: center;
    position: relative;

    a {
        position: absolute;
        display: block;
        top: 2px;
        left: 2px;

        &:hover::before {
            content: '⇠ ';
        }
    }

    .inner-page-container {
        height: max-content;
        display: flex;
        gap: 5%;
        flex-direction: column;
        height: 100%;
        width: 100%;

        .img-container {
            width: 100%;
            height: 52%;
            padding-top: 25px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 14px;
        }

        .food-details-container {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            flex-basis: 50%;
            color: gray;
            flex-grow: 1;

            h1 {
                color: darkred;
            }

            h2 {
                color: rgb(87, 87, 87);
            }

            h1,
            h2 {
                margin: .7rem 0;
            }

            p {
                margin: 0;
            }

            .category {
                display: inline-block;
                color: gray;
                background-color: whitesmoke;
                padding: 0 .2em;
                border-radius: 3px;
            }

            .extra-details {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
            }
        }

        .btn-add {
            height: 2.4rem;
            border: none;
            margin-top: 5px;
            background-color: darkred;
            color: whitesmoke;
            border-radius: 8px;
            font-size: 1.4em;
            letter-spacing: 1px;
            font-family: inherit;

            &:hover {
                opacity: 85%;
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    :host {
        .inner-page-container {
            flex-direction: unset;
            height: unset;
            width: unset;

            .img-container {
                width: 50%;
                max-width: 500px;
                flex-basis: 50%;
                height: 68vh;
                padding-top: unset;
            }

        }

    }
}