:host {
    display: flex;
    height: 85vh; //later calc -header-height -footer-height
    align-items: center;
    justify-content: center;
    position: relative;

    a {
        position: absolute;
        display: block;
        top: 2px;
        left: 2px;

        &:hover::before {
            content: '⇠ ';
        }
    }

    .inner-page-container {
        height: max-content;
        display: flex;
        gap: 5%;

        .img-container {
            width: 500px;
            max-width: 48%;
            flex-basis: 50%;
            max-height: 73vh;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 14px;
        }

        .food-details-container {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            flex-basis: 50%;
            color: gray;

            h1 {
                color: darkred;
            }

            h2 {
                color: rgb(87, 87, 87);
            }

            h1,
            h2 {
                margin: .7rem 0;
            }

            p {
                margin: 0;
            }

            .category {
                display: inline-block;
                color: gray;
                background-color: whitesmoke;
                padding: 0 .2em;
                border-radius: 3px;
            }

            .extra-details {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
            }
        }
    }
}