:host {
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 0;
    }

    .list-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 8px;
    }
}