.preview {
    display: flex;
    flex-direction: column;
    color: darkred;

    a {
        width: 18rem;
        height: 20rem;
        border: 1px solid whitesmoke;
        border-radius: 1rem;
        margin: .5rem;
        overflow: hidden;
        cursor: pointer;
        display: flex;
        flex-direction: column;

        &:hover {
            opacity: 90%;
        }

        img {
            width: 100%;
            height: 60%;
            object-fit: cover;
        }


        .content {
            padding: .5rem;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            gap: 1em;

            .card-header {
                display: flex;
                justify-content: space-between;

                .name {
                    font-size: 1.2em;
                }

                .favorite-heart {
                    color: gray;

                    &.favorite {
                        color: red;
                    }
                }
            }

            .card-footer {
                display: flex;
                justify-content: space-between;

                .category {
                    display: block;
                    color: gray;
                    background-color: whitesmoke;
                    font-size: .8em;
                    padding: 0 .2em;
                    border-radius: 3px;
                    margin-bottom: .5em;

                }
            }

        }
    }
}