<article class="preview">
    <a routerLink="/food-store/{{food.id}}">
        <img [src]="food.imgUrl" [alt]="food.name" />
        <div class="content">
            <div class="card-header">
                <div class="name">{{food.name}}</div>
                <favorite [food]="food" [isFavorite]="food.isFavorite"></favorite>
            </div>
            <div class="card-footer">
                <div>
                    <span class="category">{{food.category}}</span>
                    <div>{{food.price | currency}}</div>
                </div>
                <div>🕒{{food.cookTime}}</div>
            </div>
        </div>
    </a>


</article>