// BASE

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: 'DM Serif Display', serif;
    // font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
    color: inherit;
    text-decoration: inherit;
}

// LAYOUT

.main-container {
    display: grid;
    grid-template-columns: 10px 1fr 10px;

    &>* {
        grid-column-start: 2;
    }

    &>*.full {
        grid-column: 1/-1;
    }
}

@media screen and (min-width: 530px) {
    .main-container {
        grid-template-columns: 30px 1fr 30px;
    }
}