.favorite-heart {
    color: gray;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover:not(.favorite) {
        background-color: rgba(235, 183, 183, 0.518);
    }

    &.favorite {
        color: red;

        &:hover {
            background-color: rgba(210, 206, 206, 0.562);
        }
    }
}